{
  "openapi": "3.1.0",
  "info": {
    "title": "Calecute Technologies — Commission Agent Programme API",
    "version": "1.0.0",
    "description": "REST API for the Kerala commission agent programme.\n\n**This document is the contract.** Two clients consume it — the web frontend\nat calecutech.com and an Android app — and neither may depend on behaviour\nthat is not described here. The web frontend generates its TypeScript types\nfrom this file.\n\n## Authentication\n\nGoogle Sign-In only; there are no passwords and no OTP login. A client\nobtains a Google credential (an ID token natively, or an authorization code\non the web), posts it to `/auth/google`, and receives our own JWT pair. A\nGoogle token is never accepted as a session.\n\nSend the access token as `Authorization: Bearer <token>`. It is stateless:\nevery endpoint authorises from its claims. Refresh tokens are single-use and\nrotate; presenting a rotated one revokes all sessions for that user.\n\n## Authorisation\n\nRoles live on the user row: `AGENT`, `DISTRICT_ADMIN`, `SUPER_ADMIN`. Call\n`GET /me` and render whatever role comes back — do not infer it from an\nemail address or any client-side list.\n\nDistrict admins are scoped to assigned districts, and that scoping is\nenforced by Postgres row-level security rather than by query filters. A\nmodified client asking for another district's rows receives an empty set,\nnot an error.\n\n## Conventions\n\n- Errors always use the `Error` envelope. Branch on `error.code`.\n- Every list endpoint is cursor paginated. Offsets are not supported.\n- All money is integer **paise**. Never a float.\n- Geography is referenced by stable numeric id, never by name.\n- Endpoints that write money require an `Idempotency-Key` header.\n- Rate limits are reported in `RateLimit-Limit`, `RateLimit-Remaining` and\n  `RateLimit-Reset`; a 429 also carries `Retry-After`.",
    "contact": {
      "name": "Calecute Technologies",
      "email": "info@calecutech.com"
    }
  },
  "servers": [
    {
      "url": "https://api.calecutech.com/api/v1",
      "description": "This deployment"
    },
    {
      "url": "http://localhost:3001/api/v1",
      "description": "Local development"
    }
  ],
  "tags": [
    {
      "name": "auth",
      "description": "Google Sign-In, token refresh, logout."
    },
    {
      "name": "me",
      "description": "The current user, their role, and DPDP export/erasure."
    },
    {
      "name": "geography",
      "description": "Kerala hierarchy and live slot availability. Public."
    },
    {
      "name": "signup",
      "description": "Agent application: required fields, optional qualifications, waitlist."
    },
    {
      "name": "agent",
      "description": "Agent dashboard, referral, earnings, customers, products, inbox."
    },
    {
      "name": "payouts",
      "description": "PAN and bank details, mobile verification. PAN is collected here and only here."
    },
    {
      "name": "products",
      "description": "Product catalogue and sales material."
    },
    {
      "name": "admin-reports",
      "description": "Coverage, agents, revenue and funnel reports. JSON, CSV or PDF."
    },
    {
      "name": "admin-actions",
      "description": "Approvals, assignments, slots, payouts, messaging, admin users."
    },
    {
      "name": "attribution",
      "description": "Referral attribution. First code wins, permanently."
    },
    {
      "name": "meta",
      "description": "Health and this specification."
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Access token from POST /auth/google or POST /auth/refresh."
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "code",
              "message",
              "requestId"
            ],
            "properties": {
              "code": {
                "type": "string",
                "description": "Machine-readable error code. Branch on this, never on the message or status alone."
              },
              "message": {
                "type": "string",
                "description": "Developer-facing English text."
              },
              "details": {
                "description": "Shape varies by code. For VALIDATION_FAILED: { fields: [...] }."
              },
              "requestId": {
                "type": "string",
                "description": "Quote this when reporting a problem."
              }
            }
          }
        }
      },
      "PageInfo": {
        "type": "object",
        "required": [
          "hasNextPage",
          "nextCursor",
          "limit"
        ],
        "properties": {
          "hasNextPage": {
            "type": "boolean"
          },
          "nextCursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pass back as ?cursor= to fetch the next page."
          },
          "limit": {
            "type": "integer"
          }
        }
      },
      "District": {
        "type": "object",
        "required": [
          "id",
          "nameEn",
          "nameMl",
          "codeSlug"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "description": "Stable numeric id. Always match on this, never on a name."
          },
          "nameEn": {
            "type": "string"
          },
          "nameMl": {
            "type": "string"
          },
          "codeSlug": {
            "type": "string",
            "description": "District token used in agent codes, e.g. \"KKD\"."
          },
          "lgdCode": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Official LGD code, where loaded."
          },
          "wardData": {
            "type": "string",
            "enum": [
              "COMPLETE",
              "PARTIAL",
              "PENDING"
            ]
          }
        }
      },
      "LocalBody": {
        "type": "object",
        "required": [
          "id",
          "nameEn",
          "nameMl",
          "type",
          "districtId"
        ],
        "properties": {
          "id": {
            "type": "integer"
          },
          "nameEn": {
            "type": "string"
          },
          "nameMl": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "GRAM_PANCHAYAT",
              "MUNICIPALITY",
              "CORPORATION"
            ],
            "description": "Gram panchayats sit under a block; municipalities and corporations do not. Clients need not branch on this — blockPanchayatId is simply null for urban bodies."
          },
          "districtId": {
            "type": "integer"
          },
          "blockPanchayatId": {
            "type": [
              "integer",
              "null"
            ]
          },
          "slotCapacity": {
            "type": "integer",
            "description": "Places available to agents. Programme default is 10."
          },
          "signupsOpen": {
            "type": "boolean"
          },
          "wardData": {
            "type": "string",
            "enum": [
              "COMPLETE",
              "PARTIAL",
              "PENDING"
            ]
          },
          "filled": {
            "type": "integer"
          },
          "remaining": {
            "type": "integer"
          },
          "waitlisted": {
            "type": "integer"
          }
        }
      },
      "Availability": {
        "type": "object",
        "required": [
          "localBodyId",
          "slotCapacity",
          "filled",
          "remaining",
          "state"
        ],
        "properties": {
          "localBodyId": {
            "type": "integer"
          },
          "slotCapacity": {
            "type": "integer"
          },
          "filled": {
            "type": "integer"
          },
          "remaining": {
            "type": "integer"
          },
          "signupsOpen": {
            "type": "boolean"
          },
          "waitlisted": {
            "type": "integer"
          },
          "state": {
            "type": "string",
            "enum": [
              "OPEN",
              "FULL",
              "CLOSED"
            ],
            "description": "Read live from the database on every request. Never cached, never estimated."
          }
        }
      },
      "Session": {
        "type": "object",
        "required": [
          "accessToken",
          "refreshToken",
          "tokenType",
          "expiresIn",
          "user"
        ],
        "properties": {
          "accessToken": {
            "type": "string",
            "description": "Short-lived JWT. Send as `Authorization: Bearer <token>`."
          },
          "refreshToken": {
            "type": "string",
            "description": "Long-lived and single-use. Rotated on every refresh; presenting a rotated token revokes every session for that user."
          },
          "tokenType": {
            "type": "string",
            "enum": [
              "Bearer"
            ]
          },
          "expiresIn": {
            "type": "integer",
            "description": "Access token lifetime in seconds."
          },
          "user": {
            "$ref": "#/components/schemas/SessionUser"
          }
        }
      },
      "SessionUser": {
        "type": "object",
        "required": [
          "id",
          "email",
          "name",
          "role"
        ],
        "properties": {
          "id": {
            "type": "integer"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "name": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "enum": [
              "AGENT",
              "DISTRICT_ADMIN",
              "SUPER_ADMIN"
            ],
            "description": "Read from the user row in the database. Render from this; it grants nothing on its own, because every endpoint re-derives it from the signed token."
          },
          "pictureUrl": {
            "type": [
              "string",
              "null"
            ]
          },
          "agentId": {
            "type": [
              "integer",
              "null"
            ]
          }
        }
      },
      "CommissionTerms": {
        "type": "object",
        "description": "The published commission terms, served so no client hardcodes them.",
        "properties": {
          "rateBps": {
            "type": "integer",
            "description": "1000 = 10% of every payment."
          },
          "tdsRateBps": {
            "type": "integer",
            "description": "200 = 2%."
          },
          "tdsSection": {
            "type": "string",
            "description": "194H."
          },
          "basis": {
            "type": "string",
            "description": "Net of GST and payment gateway charges."
          },
          "payoutFrequency": {
            "type": "string",
            "enum": [
              "MONTHLY"
            ]
          }
        }
      },
      "AgentSummary": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "id": {
            "type": "integer"
          },
          "agentCode": {
            "type": "string",
            "examples": [
              "CA-KKD-000123"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "PENDING_REVIEW",
              "APPROVED",
              "REJECTED",
              "SUSPENDED",
              "WAITLISTED",
              "WITHDRAWN"
            ]
          },
          "districtId": {
            "type": "integer"
          },
          "districtNameEn": {
            "type": "string"
          },
          "districtNameMl": {
            "type": "string"
          },
          "localBodyId": {
            "type": "integer"
          },
          "localBodyNameEn": {
            "type": "string"
          },
          "localBodyNameMl": {
            "type": "string"
          },
          "mobileVerifiedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        }
      },
      "MeResponse": {
        "type": "object",
        "required": [
          "user",
          "agent",
          "districtScope",
          "landing"
        ],
        "properties": {
          "user": {
            "$ref": "#/components/schemas/SessionUser"
          },
          "agent": {
            "$ref": "#/components/schemas/AgentSummary"
          },
          "districtScope": {
            "description": "\"ALL\" for a super admin, otherwise the assigned district ids.",
            "oneOf": [
              {
                "type": "string",
                "enum": [
                  "ALL"
                ]
              },
              {
                "type": "array",
                "items": {
                  "type": "integer"
                }
              }
            ]
          },
          "districtScopeDetail": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "districtId": {
                  "type": "integer"
                },
                "nameEn": {
                  "type": "string"
                },
                "nameMl": {
                  "type": "string"
                }
              }
            }
          },
          "landing": {
            "type": "string",
            "description": "Where this client should navigate after sign-in. Follow it rather than deciding from the role.",
            "examples": [
              "/agents/dashboard",
              "/agents/signup",
              "/admin"
            ]
          }
        }
      },
      "Ward": {
        "type": "object",
        "required": [
          "id",
          "number",
          "status"
        ],
        "properties": {
          "id": {
            "type": "integer"
          },
          "number": {
            "type": "integer"
          },
          "nameEn": {
            "type": [
              "string",
              "null"
            ]
          },
          "nameMl": {
            "type": [
              "string",
              "null"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "COMPLETE",
              "PARTIAL",
              "PENDING"
            ],
            "description": "PENDING means the ward exists but no official name has been loaded."
          }
        }
      },
      "WardList": {
        "type": "object",
        "required": [
          "data",
          "wardData"
        ],
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Ward"
            }
          },
          "wardData": {
            "type": "string",
            "enum": [
              "COMPLETE",
              "PARTIAL",
              "PENDING"
            ]
          },
          "note": {
            "type": [
              "string",
              "null"
            ],
            "description": "Present when the list is empty, explaining why."
          }
        }
      },
      "SignupResponse": {
        "type": "object",
        "required": [
          "agent",
          "slotsRemainingAfter"
        ],
        "properties": {
          "agent": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "agentCode": {
                "type": "string"
              },
              "status": {
                "type": "string"
              },
              "districtId": {
                "type": "integer"
              },
              "localBodyId": {
                "type": "integer"
              },
              "wardId": {
                "type": [
                  "integer",
                  "null"
                ]
              }
            }
          },
          "slotsRemainingAfter": {
            "type": "integer"
          },
          "nextStep": {
            "type": "string"
          }
        }
      },
      "Eligibility": {
        "type": "object",
        "required": [
          "canApply"
        ],
        "properties": {
          "canApply": {
            "type": "boolean"
          },
          "existingApplication": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "id": {
                "type": "integer"
              },
              "agentCode": {
                "type": "string"
              },
              "status": {
                "type": "string"
              }
            }
          },
          "currentTerms": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "version": {
                "type": "string"
              },
              "url": {
                "type": "string"
              }
            }
          },
          "availability": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/Availability"
              },
              {
                "type": "null"
              }
            ]
          }
        }
      },
      "EarningsSummary": {
        "type": "object",
        "required": [
          "pendingPaise",
          "paidPaise",
          "lifetimePaise",
          "currency"
        ],
        "properties": {
          "pendingPaise": {
            "type": "integer",
            "description": "Accrued and approved, not yet paid."
          },
          "paidPaise": {
            "type": "integer"
          },
          "lifetimePaise": {
            "type": "integer"
          },
          "tdsWithheldPaise": {
            "type": "integer"
          },
          "currency": {
            "type": "string",
            "enum": [
              "INR"
            ]
          }
        }
      },
      "PayoutState": {
        "type": "object",
        "properties": {
          "panStatus": {
            "type": "string",
            "enum": [
              "NOT_SUBMITTED",
              "PENDING_VERIFICATION",
              "VERIFIED",
              "REJECTED",
              "DUPLICATE_CANCELLED"
            ]
          },
          "pan": {
            "type": [
              "string",
              "null"
            ],
            "description": "Masked, e.g. XXXXX1234F. Never the real value."
          },
          "bankConfigured": {
            "type": "boolean"
          },
          "withdrawalBlocked": {
            "type": "boolean"
          },
          "blockedReason": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "PayoutProfile": {
        "type": "object",
        "properties": {
          "pan": {
            "type": [
              "string",
              "null"
            ]
          },
          "panStatus": {
            "type": "string"
          },
          "panVerifiedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "bankAccount": {
            "type": [
              "string",
              "null"
            ]
          },
          "bankIfsc": {
            "type": [
              "string",
              "null"
            ]
          },
          "bankHolderName": {
            "type": [
              "string",
              "null"
            ]
          },
          "upiId": {
            "type": [
              "string",
              "null"
            ]
          },
          "mobileVerified": {
            "type": "boolean"
          },
          "withdrawal": {
            "type": "object",
            "properties": {
              "blocked": {
                "type": "boolean"
              },
              "reasons": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "pendingBalancePaise": {
                "type": "integer"
              }
            }
          }
        }
      },
      "AgentDashboard": {
        "type": "object",
        "required": [
          "agent",
          "referral",
          "earnings",
          "payout",
          "customers",
          "products"
        ],
        "properties": {
          "agent": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "agentCode": {
                "type": "string"
              },
              "status": {
                "type": "string"
              },
              "mobileVerified": {
                "type": "boolean"
              }
            }
          },
          "referral": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "link": {
                "type": "string"
              },
              "qrUrl": {
                "type": "string"
              },
              "whatsappShareUrl": {
                "type": "string"
              }
            }
          },
          "earnings": {
            "$ref": "#/components/schemas/EarningsSummary"
          },
          "payout": {
            "$ref": "#/components/schemas/PayoutState"
          },
          "customers": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "recent": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "customerId": {
                      "type": "integer"
                    },
                    "displayName": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "lockedAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "products": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer"
                },
                "slug": {
                  "type": "string"
                },
                "nameEn": {
                  "type": "string"
                },
                "nameMl": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "ReportCatalogue": {
        "type": "object",
        "required": [
          "defaultReport",
          "data"
        ],
        "properties": {
          "defaultReport": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "slug": {
                  "type": "string"
                },
                "title": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "columns": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "key": {
                        "type": "string"
                      },
                      "header": {
                        "type": "string"
                      }
                    }
                  }
                },
                "formats": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "filters": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "ReportResult": {
        "type": "object",
        "required": [
          "report",
          "columns",
          "rowCount",
          "data"
        ],
        "properties": {
          "report": {
            "type": "object",
            "properties": {
              "slug": {
                "type": "string"
              },
              "title": {
                "type": "string"
              },
              "description": {
                "type": "string"
              }
            }
          },
          "filter": {
            "type": "object"
          },
          "columns": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "string"
                },
                "header": {
                  "type": "string"
                }
              }
            }
          },
          "rowCount": {
            "type": "integer"
          },
          "truncated": {
            "type": "boolean",
            "description": "True when the row cap was hit."
          },
          "data": {
            "type": "array",
            "description": "Row shape varies by report; use `columns` to render generically.",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        }
      },
      "GoogleAuthRequest": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "anyOf": [
          {
            "type": "object",
            "properties": {
              "idToken": {
                "type": "string",
                "description": "Google ID token, from a native client."
              }
            },
            "required": [
              "idToken"
            ]
          },
          {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "description": "Authorization code, from the web authorization-code flow."
              },
              "redirectUri": {
                "type": "string",
                "format": "uri"
              },
              "codeVerifier": {
                "description": "PKCE verifier, if the flow used one.",
                "type": "string"
              }
            },
            "required": [
              "code",
              "redirectUri"
            ]
          }
        ]
      },
      "SignupRequest": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 2,
            "maxLength": 120
          },
          "mobile": {
            "type": "string",
            "description": "10-digit Indian mobile number. Not verified at this stage."
          },
          "districtId": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "maximum": 9007199254740991
          },
          "localBodyId": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "maximum": 9007199254740991
          },
          "wardId": {
            "description": "Optional: ward data is incomplete for some local bodies.",
            "anyOf": [
              {
                "type": "integer",
                "exclusiveMinimum": 0,
                "maximum": 9007199254740991
              },
              {
                "type": "null"
              }
            ]
          },
          "occupation": {
            "type": "string",
            "minLength": 2,
            "maxLength": 120
          },
          "termsVersion": {
            "type": "string",
            "description": "Version of the terms actually shown to the applicant."
          },
          "acceptedTerms": {
            "type": "boolean",
            "const": true
          },
          "privacyConsent": {
            "type": "boolean",
            "const": true
          },
          "honeypot": {
            "description": "Hidden field. Must be empty; a value rejects the request.",
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "fillMs": {
            "description": "Milliseconds between form render and submit. Under 3000 is rejected.",
            "anyOf": [
              {
                "type": "integer",
                "minimum": -9007199254740991,
                "maximum": 9007199254740991
              },
              {
                "type": "null"
              }
            ]
          },
          "deviceFingerprint": {
            "description": "Hashed server-side; the raw value is never stored.",
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "name",
          "mobile",
          "districtId",
          "localBodyId",
          "occupation",
          "termsVersion",
          "acceptedTerms",
          "privacyConsent"
        ]
      },
      "QualificationsRequest": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "education": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "SSLC",
                  "PLUS_TWO",
                  "DEGREE",
                  "PG",
                  "DIPLOMA",
                  "ITI",
                  "OTHER"
                ]
              },
              {
                "type": "null"
              }
            ]
          },
          "educationOther": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "experience": {
            "anyOf": [
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "INSURANCE_AGENCY",
                    "AKSHAYA_CSC",
                    "MARKETING_SALES",
                    "BANKING_FINANCE",
                    "BUSINESS_SHOP",
                    "NONE"
                  ]
                }
              },
              {
                "type": "null"
              }
            ]
          },
          "hoursPerDay": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "ONE",
                  "TWO_TO_THREE",
                  "FOUR_PLUS",
                  "FULL_TIME"
                ]
              },
              {
                "type": "null"
              }
            ]
          },
          "hasVehicle": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ]
          },
          "computerLiteracy": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "YES",
                  "BASIC",
                  "NO"
                ]
              },
              {
                "type": "null"
              }
            ]
          },
          "reach": {
            "anyOf": [
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "BANK_EMPLOYEES",
                    "CONTRACTORS",
                    "STUDENTS",
                    "SHOP_OWNERS",
                    "GOVERNMENT_OFFICES",
                    "OTHERS"
                  ]
                }
              },
              {
                "type": "null"
              }
            ]
          }
        }
      },
      "PayoutProfileRequest": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "pan": {
            "description": "Format AAAAA9999A. Encrypted at rest; never returned.",
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "bankAccountNumber": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "bankIfsc": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "bankHolderName": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "upiId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        }
      },
      "AttributionClaimRequest": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "customerExternalRef": {
            "type": "string"
          },
          "customerName": {
            "type": "string"
          },
          "agentCode": {
            "type": "string"
          },
          "source": {
            "type": "string"
          }
        },
        "required": [
          "customerExternalRef",
          "customerName",
          "agentCode"
        ]
      },
      "PaymentRequest": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "externalRef": {
            "type": "string"
          },
          "customerExternalRef": {
            "type": "string"
          },
          "productId": {
            "anyOf": [
              {
                "type": "integer",
                "minimum": -9007199254740991,
                "maximum": 9007199254740991
              },
              {
                "type": "null"
              }
            ]
          },
          "grossPaise": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991,
            "description": "Amounts are integer paise. Never a float."
          },
          "gstPaise": {
            "default": 0,
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "gatewayFeePaise": {
            "default": 0,
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "paidAt": {
            "type": "string",
            "description": "ISO 8601 timestamp."
          }
        },
        "required": [
          "externalRef",
          "customerExternalRef",
          "grossPaise",
          "paidAt"
        ]
      },
      "EventRequest": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "sessionId": {
            "type": "string",
            "minLength": 8,
            "maxLength": 64,
            "description": "Client-generated and rotating. Never joined to a user."
          },
          "event": {
            "type": "string",
            "enum": [
              "page_view",
              "scroll_depth",
              "signup_start",
              "field_focus",
              "field_blur",
              "field_abandon",
              "google_auth_started",
              "google_auth_completed",
              "google_auth_failed",
              "signup_submitted",
              "signup_failed",
              "qualifications_started",
              "qualifications_submitted",
              "qualifications_skipped",
              "waitlist_joined"
            ]
          },
          "properties": {
            "type": "object",
            "propertyNames": {
              "type": "string"
            },
            "additionalProperties": {}
          },
          "districtId": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          },
          "localBodyId": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          }
        },
        "required": [
          "sessionId",
          "event"
        ]
      }
    }
  },
  "paths": {
    "/health": {
      "get": {
        "tags": [
          "meta"
        ],
        "summary": "Liveness and database reachability",
        "description": "Used by the deployment check. Returns 503 if the database is unreachable.",
        "security": [],
        "responses": {
          "200": {
            "description": "Success.",
            "headers": {
              "RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests allowed per window."
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests left in this window."
              },
              "RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the window resets."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok",
                        "degraded"
                      ]
                    },
                    "version": {
                      "type": "string"
                    },
                    "database": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation failed, or a geography id was not recognised.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. See RateLimit-* and Retry-After headers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error. The requestId identifies it in the logs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Database unreachable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/openapi.json": {
      "get": {
        "tags": [
          "meta"
        ],
        "summary": "This specification",
        "description": "Served so clients can generate types against the running deployment.",
        "security": [],
        "responses": {
          "200": {
            "description": "The OpenAPI 3.1 document.",
            "headers": {
              "RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests allowed per window."
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests left in this window."
              },
              "RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the window resets."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Validation failed, or a geography id was not recognised.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. See RateLimit-* and Retry-After headers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error. The requestId identifies it in the logs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/google": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Exchange a Google credential for our tokens",
        "description": "Accepts either an ID token (native clients) or an authorization code plus\nredirect URI and PKCE verifier (web). Both are verified against Google\nserver-side.\n\nA new account is always created as `AGENT`. Elevation to an admin role is\nan explicit, audited admin action — it never happens here, and no email\naddress is compared against a constant anywhere in the codebase.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GoogleAuthRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session established.",
            "headers": {
              "RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests allowed per window."
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests left in this window."
              },
              "RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the window resets."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Session"
                }
              }
            }
          },
          "400": {
            "description": "Validation failed, or a geography id was not recognised.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "INVALID_GOOGLE_TOKEN — Google rejected or we could not verify the credential.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. See RateLimit-* and Retry-After headers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error. The requestId identifies it in the logs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/refresh": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Rotate a refresh token",
        "description": "Returns a new token pair and invalidates the presented one. Presenting an already-rotated token revokes every session for that user — treat REFRESH_TOKEN_REUSED as 'sign in again'.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "refreshToken"
                ],
                "properties": {
                  "refreshToken": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "headers": {
              "RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests allowed per window."
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests left in this window."
              },
              "RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the window resets."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Session"
                }
              }
            }
          },
          "400": {
            "description": "Validation failed, or a geography id was not recognised.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "INVALID_TOKEN, TOKEN_EXPIRED or REFRESH_TOKEN_REUSED.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. See RateLimit-* and Retry-After headers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error. The requestId identifies it in the logs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/logout": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Revoke a refresh token",
        "description": "The access token remains valid until it expires — that is the cost of stateless auth, and why its lifetime is 15 minutes.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "refreshToken"
                ],
                "properties": {
                  "refreshToken": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "headers": {
              "RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests allowed per window."
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests left in this window."
              },
              "RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the window resets."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "revoked": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation failed, or a geography id was not recognised.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. See RateLimit-* and Retry-After headers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error. The requestId identifies it in the logs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/me": {
      "get": {
        "tags": [
          "me"
        ],
        "summary": "Current user, role, agent summary and where to land",
        "description": "The endpoint the frontend renders its navigation from. `landing` says where this client should go after sign-in, so routing by role is a server decision.",
        "responses": {
          "200": {
            "description": "Success.",
            "headers": {
              "RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests allowed per window."
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests left in this window."
              },
              "RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the window resets."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation failed, or a geography id was not recognised.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed or expired access token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but not permitted, or outside district scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. See RateLimit-* and Retry-After headers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error. The requestId identifies it in the logs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "me"
        ],
        "summary": "Update the fields a user owns",
        "description": "Name only. Email comes from Google and is not editable.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 120
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "headers": {
              "RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests allowed per window."
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests left in this window."
              },
              "RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the window resets."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Validation failed, or a geography id was not recognised.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed or expired access token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but not permitted, or outside district scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. See RateLimit-* and Retry-After headers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error. The requestId identifies it in the logs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "me"
        ],
        "summary": "DPDP erasure request",
        "description": "Clears identifying fields and tombstones the account. Commission and TDS records are retained for the statutory period stated in the privacy policy, so the row is not hard-deleted.",
        "responses": {
          "200": {
            "description": "Success.",
            "headers": {
              "RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests allowed per window."
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests left in this window."
              },
              "RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the window resets."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Validation failed, or a geography id was not recognised.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed or expired access token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but not permitted, or outside district scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. See RateLimit-* and Retry-After headers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error. The requestId identifies it in the logs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/me/export": {
      "get": {
        "tags": [
          "me"
        ],
        "summary": "DPDP data portability export",
        "description": "Everything held about the caller. PAN and bank account appear as masks only — plaintext is never returned over the API, even to its owner, because that would put it in caches and proxy logs.",
        "responses": {
          "200": {
            "description": "Success.",
            "headers": {
              "RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests allowed per window."
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests left in this window."
              },
              "RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the window resets."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Validation failed, or a geography id was not recognised.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed or expired access token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but not permitted, or outside district scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. See RateLimit-* and Retry-After headers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error. The requestId identifies it in the logs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/geography/districts": {
      "get": {
        "tags": [
          "geography"
        ],
        "summary": "The 14 districts of Kerala",
        "description": "Public. Rendered server-side by the recruitment page before anyone signs in.",
        "security": [],
        "responses": {
          "200": {
            "description": "Success.",
            "headers": {
              "RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests allowed per window."
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests left in this window."
              },
              "RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the window resets."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/District"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation failed, or a geography id was not recognised.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. See RateLimit-* and Retry-After headers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error. The requestId identifies it in the logs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/geography/districts/{id}/blocks": {
      "get": {
        "tags": [
          "geography"
        ],
        "summary": "Block panchayats in a district",
        "description": "Used by admin report filters. The signup flow does not need it — applicants pick a local body directly.",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "District id."
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "headers": {
              "RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests allowed per window."
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests left in this window."
              },
              "RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the window resets."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Validation failed, or a geography id was not recognised.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. See RateLimit-* and Retry-After headers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error. The requestId identifies it in the logs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/geography/local-bodies": {
      "get": {
        "tags": [
          "geography"
        ],
        "summary": "Search panchayats, municipalities and corporations",
        "description": "Public, searchable, cursor paginated.\n\n`q` matches either script and tolerates transliteration: 'Kodenchery',\n'കോടഞ്ചേരി' and 'kodancheri' all reach the same row, via trigram\nsimilarity over both name columns. Exact and prefix matches rank first.\n\nUrban bodies appear in the same list as gram panchayats, distinguished by\n`type`. Each row carries live `filled` / `remaining` counts.",
        "security": [],
        "parameters": [
          {
            "name": "districtId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Restrict to one district."
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 80
            },
            "description": "Search text, Malayalam or English."
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "GRAM_PANCHAYAT",
                "MUNICIPALITY",
                "CORPORATION"
              ]
            },
            "description": "Restrict to one kind of local body."
          },
          {
            "name": "onlyOpen",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Only bodies still accepting applications."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            },
            "description": "Page size."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Opaque cursor from a previous pageInfo.nextCursor."
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "headers": {
              "RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests allowed per window."
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests left in this window."
              },
              "RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the window resets."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "pageInfo"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/LocalBody"
                      }
                    },
                    "pageInfo": {
                      "$ref": "#/components/schemas/PageInfo"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation failed, or a geography id was not recognised.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. See RateLimit-* and Retry-After headers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error. The requestId identifies it in the logs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/geography/local-bodies/{id}/wards": {
      "get": {
        "tags": [
          "geography"
        ],
        "summary": "Wards in a local body",
        "description": "Wards with `status: PENDING` exist because the official count is known but no name has been loaded. They are returned with a null name rather than omitted, so the picker can still offer 'Ward 7' and our data gap does not block an applicant. An empty list carries an explanatory `note`.",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Local body id."
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "headers": {
              "RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests allowed per window."
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests left in this window."
              },
              "RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the window resets."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WardList"
                }
              }
            }
          },
          "400": {
            "description": "Validation failed, or a geography id was not recognised.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. See RateLimit-* and Retry-After headers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error. The requestId identifies it in the logs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/geography/local-bodies/{id}/availability": {
      "get": {
        "tags": [
          "geography"
        ],
        "summary": "Live slot availability",
        "description": "Read from the database on every request. This number appears on the public recruitment page as a trust signal, so it is never cached and never estimated.",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Local body id."
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "headers": {
              "RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests allowed per window."
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests left in this window."
              },
              "RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the window resets."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Availability"
                }
              }
            }
          },
          "400": {
            "description": "Validation failed, or a geography id was not recognised.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. See RateLimit-* and Retry-After headers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error. The requestId identifies it in the logs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/signup/eligibility": {
      "get": {
        "tags": [
          "signup"
        ],
        "summary": "Can this account apply, and is the panchayat open",
        "description": "Answered server-side so the 'you already applied' case never reaches the form.",
        "parameters": [
          {
            "name": "localBodyId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Check availability for this body too."
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "headers": {
              "RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests allowed per window."
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests left in this window."
              },
              "RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the window resets."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Eligibility"
                }
              }
            }
          },
          "400": {
            "description": "Validation failed, or a geography id was not recognised.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed or expired access token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but not permitted, or outside district scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. See RateLimit-* and Retry-After headers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error. The requestId identifies it in the logs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/signup": {
      "post": {
        "tags": [
          "signup"
        ],
        "summary": "Submit an application",
        "description": "Step 2 of the flow; step 1 is Google Sign-In. Six required fields and\nnothing more — no PAN, no bank details, no document upload.\n\nRuns as one transaction: validate the geography triple, lock the local\nbody and take a slot, issue the agent code, write the agent, record\nconsent, record abuse signals. A failure anywhere leaves no half-created\nagent and no consumed slot.\n\nThe agent code format is `CA-<district>-<sequence>`, e.g. `CA-KKD-000123`.\n\n**Requires role:** AGENT (any signed-in user without an existing application)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SignupRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Application created; agent code issued.",
            "headers": {
              "RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests allowed per window."
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests left in this window."
              },
              "RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the window resets."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignupResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation failed, or a geography id was not recognised.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed or expired access token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but not permitted, or outside district scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "ALREADY_REGISTERED, MOBILE_ALREADY_USED, SLOT_UNAVAILABLE or PANCHAYAT_CLOSED.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. See RateLimit-* and Retry-After headers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error. The requestId identifies it in the logs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/signup/qualifications": {
      "post": {
        "tags": [
          "signup"
        ],
        "summary": "Optional qualification answers",
        "description": "Step 3, optional in every sense: every field is nullable, the step may be skipped entirely, and skipping it does not affect the application.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QualificationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "headers": {
              "RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests allowed per window."
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests left in this window."
              },
              "RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the window resets."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Validation failed, or a geography id was not recognised.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed or expired access token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but not permitted, or outside district scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. See RateLimit-* and Retry-After headers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error. The requestId identifies it in the logs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/signup/waitlist": {
      "post": {
        "tags": [
          "signup"
        ],
        "summary": "Join the waitlist for a full panchayat",
        "description": "What a full panchayat offers instead of an application. Waitlist counts drive the admin report that identifies where to raise the slot count.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "districtId",
                  "localBodyId",
                  "mobile"
                ],
                "properties": {
                  "districtId": {
                    "type": "integer"
                  },
                  "localBodyId": {
                    "type": "integer"
                  },
                  "mobile": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success.",
            "headers": {
              "RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests allowed per window."
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests left in this window."
              },
              "RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the window resets."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Validation failed, or a geography id was not recognised.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed or expired access token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but not permitted, or outside district scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. See RateLimit-* and Retry-After headers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error. The requestId identifies it in the logs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/agent/dashboard": {
      "get": {
        "tags": [
          "agent"
        ],
        "summary": "Everything for the agent home screen",
        "description": "One request on purpose. The target device is a budget Android phone on one bar of 4G, where four sequential round trips is the difference between usable and not.\n\n**Requires role:** AGENT",
        "responses": {
          "200": {
            "description": "Success.",
            "headers": {
              "RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests allowed per window."
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests left in this window."
              },
              "RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the window resets."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentDashboard"
                }
              }
            }
          },
          "400": {
            "description": "Validation failed, or a geography id was not recognised.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed or expired access token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but not permitted, or outside district scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. See RateLimit-* and Retry-After headers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error. The requestId identifies it in the logs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/agent/referral": {
      "get": {
        "tags": [
          "agent"
        ],
        "summary": "Referral code, link, QR and WhatsApp share",
        "description": "Separate from the dashboard so a share sheet can refresh it without refetching earnings.\n\n**Requires role:** AGENT",
        "responses": {
          "200": {
            "description": "Success.",
            "headers": {
              "RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests allowed per window."
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests left in this window."
              },
              "RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the window resets."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Validation failed, or a geography id was not recognised.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed or expired access token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but not permitted, or outside district scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. See RateLimit-* and Retry-After headers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error. The requestId identifies it in the logs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/agent/referral/qr": {
      "get": {
        "tags": [
          "agent"
        ],
        "summary": "Referral QR image",
        "description": "Rendered server-side so both clients get an identical image and neither ships a QR library. The only endpoint that returns an image rather than JSON.\n\n**Requires role:** AGENT",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "png",
                "svg"
              ],
              "default": "png"
            },
            "description": "Image format."
          }
        ],
        "responses": {
          "200": {
            "description": "The QR image.",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/svg+xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Validation failed, or a geography id was not recognised.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed or expired access token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but not permitted, or outside district scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. See RateLimit-* and Retry-After headers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error. The requestId identifies it in the logs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/agent/earnings": {
      "get": {
        "tags": [
          "agent"
        ],
        "summary": "Earnings summary and commission ledger",
[...]
